<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functions-pguerra22.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/10e4b0c9-339d-4b52-8eae-eeb0e0c329f0/resourceGroups/learn-1730612e-e0b1-43c9-94ef-6d176af7c3a7/providers/Microsoft.Web/sites/functions-pguerra22</ResourceId>
    <UserName>$functions-pguerra22</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functions-pguerra22.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>